.App {
	display: flex;
	flex-direction: column;
	background: #000103;
	color: white;
	font-family: 'Cutive Mono', monospace;
}

.Header a {
	text-decoration: none;
	color: white;
	font-size: xxx-large;
}

.Header, .Footer {
	height: 100px;
}
.Tuner, .Metronome {
	height: 900px;
}

.Tuner {
	background-image: url("img/tuner.jpg");
	background-size: cover;
}

.Tuner h1 {
	cursor: pointer;
}

.Metronome {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-image: url("img/metronome.jpg");
	background-size: cover;
}

.Metronome img {
	width: 80px;
}

.Youtube {
	
}